<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="frm-bg">
	<h1>Log In</h1>
		<%= form_for(:session, :html => {role: "form"}, url: login_path) do |i| %>
		<div>
			<%= i.label :email %>
			<%= i.email_field :email, placeholder: "Enter Email" %>
		</div>

		<br><br>

		<div>
			<%= i.label :password %>
			<%= i.password_field :password, autocomplete: "off" %>
		</div>

		<br><br>

		<p>
			<%= i.submit "log in", class: "btn-color links" %>
		</p>

		<% end %>
	</div>
</body>
</html>