<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
</head>
<body>
	<%= is_admin? %>

	<% if is_seller? || is_admin? %>
		<%= link_to "products", products_path %>
	<% end %>

	<% if is_seller? %>
		<%= link_to "sales", sales_path%>
	<% elsif is_buyer?%>
		<%= link_to "purchases", purchases_path%>
	<% elsif is_admin? %>
		<%= link_to ""%>
	<% end %>

	<h1>available for sale</h1>
	<table border = "1">
		<thead>
			<th>Seller</th>
			<th>Product</th>
			<th>Price</th>
			<th>Remarks</th>
		</thead>

		<% @sales.each do |sale| %>
			<% if sale.buyer_id == nil %>
			<tbody>
				<td> <%= @sellers.find(sale.seller_id).first_name %> </td>
				<td> <%= @products.find(sale.product_id).name %> </td>
				<td> <%= sale.price %> </td>
				<td> <%= sale.remarks %> </td>
				<% if is_buyer? %>
				<td> <%= link_to "Buy", edit_sale_path(sale) %> </td>
				<% end %>
			</tbody>
			<% end %>
		<%end%>
	</table>
</body>
</html>