<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
</head>
<body>

	
	<hr/>
	<br>

	<%= image_tag("Dudetech_Spinoff.png") %>

	<br>
	<br>
	<hr/>
	<br><br>
	<% if is_seller? || is_admin? %>
		<%= link_to "products", products_path %>
		<%= link_to "sales", sales_path%>
	<% end %>

	<% if is_buyer?%>
		<%= link_to "purchases", purchases_path%>
	<% end %>

	<% if is_admin? %>
		<%= link_to "categories", categories_path%>
	<% end %>

	<h1>Available for Sale</h1>
	<table border = "1">
		<thead>
			<th>Seller</th>
			<th>Product</th>
			<th>Price</th>
			<th>Remarks</th>
		</thead>

		<% @sales.each do |sale| %>
			<% if sale.buyer_id == nil %>
			<tbody>
				<td> <%= @sellers.find(sale.seller_id).first_name %> </td>
				<td> <%= @products.find(sale.product_id).name %> </td>
				<td> <%= sale.price %> </td>
				<td> <%= sale.remarks %> </td>
				<% if is_buyer? %>
				<td> <%= link_to "Buy", edit_sale_path(sale) %> </td>
				<% end %>
			</tbody>
			<% end %>
		<%end%>
	</table>
</body>
</html>