<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="frm-bg">
        <br>

        <%= form_for @product do |prod| %>
        <div>
            <%= prod.label :name %>
            <%= prod.text_field :name %>
        </div>

        <br><br>

        <div>
            <%= prod.label :description %>
            <%= prod.text_field :description %>
        </div>

        <br><br>

        <div>
            <%= prod.label :category_id %>
            <%= prod.collection_select(:category_id, @categories, :id, :name) %>
        </div>

        <br><br>

        <%= prod.submit %>
    <% end %>
</div>
    </body>
</html>