<%= form_for @sale do |s| %>
    <div>
        <%= s.label :product_id %>
        <%= s.collection_select(:product_id, Product.all, :id, :name) %>
    </div>

    <div>
        <%= s.label :price %>
        <%= s.text_field :price %>
    </div>

    <div>
    	<%= s.label :remarks %>
    	<%= s.text_field :remarks %>
    </div>

    <%= s.submit "Submit Sale" %>
<% end %>