<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>For Sale</h1>
	<table>
		<tr>
			<th>Product</th>
			<th>Seller</th>
			<th>Price</th>
			<th>Remarks</th>
		</tr>

		<% @sales.each do |s| %>
			<% if s.buyer == nil %>
				<tr>
					<td> <%= s.product.name %> </td>
					<td> <%= s.seller.first_name %></td>
					<td> <%= s.price %> </td>
					<td> <%= s.remarks %> </td>
					<td> <%= link_to "edit", edit_sale_path(s) %> </td>
					<td> <%= link_to "destory", sale_path(s), method: :delete %> </td>
				</tr>
			<% end %>
		<% end %>
	</table>

	<%= link_to "home", root_path %>
	<%= link_to "New", new_sale_path %>
</body>
</html>