<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if !current_user.admin %>
	<h1>For Sale</h1>
	<table>
		<tr>
			<th>Product</th>
			<th>Seller</th>
			<th>Price</th>
			<th>Remarks</th>
		</tr>

		<% @sales.each do |s| %>
			<% if s.buyer == nil && s.seller == current_user %>
				<tr>
					<td> <%= s.product.name %> </td>
					<td> <%= s.seller.first_name %></td>
					<td> <%= s.price %> </td>
					<td> <%= s.remarks %> </td>
					<td> <%= link_to "edit", edit_sale_path(s) %> </td>
					<td> <%= link_to "delete", sale_path(s), method: :delete %> </td>
				</tr>
			<% end %>
		<% end %>
	</table>

	<h1>Sold</h1>
	<table>
		<tr>
			<th>Product</th>
			<th>Seller</th>
			<th>Buyer</th>
			<th>Price</th>
			<th>Remarks</th>
		</tr>

		<% @sales.each do |s| %>
			<% if s.buyer != nil && s.seller == current_user %>
				<tr>
					<td> <%= s.product.name %> </td>
					<td> <%= s.seller.first_name %></td>
					<td> <%= s.buyer.first_name %> </td>
					<td> <%= s.price %> </td>
					<td> <%= s.remarks %> </td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<% end %>

	<% if current_user.admin %>
	<table>
		<tr>
			<th>Product</th>
			<th>Seller</th>
			<th>Buyer</th>
			<th>Price</th>
			<th>Remarks</th>
		</tr>
		<% @sales.each do |s| %>
			<tr>
				<td> <%= s.product.name %> </td>
				<td> <%= s.seller.first_name %></td>
				<td> <%= s.buyer.first_name %> </td>
				<td> <%= s.price %> </td>
				<td> <%= s.remarks %> </td>
				<td> <%= link_to "edit", edit_sale_path(s) %> </td>
				<td> <%= link_to "delete", sale_path(s), method: :delete %> </td>
			</tr>
		<% end %>
		</table>
	<% end %>

	<%= link_to "home", root_path %>
	<%= link_to "New", new_sale_path %>
</body>
</html>